body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f0d1;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #f1f0d1;
}

nav{
  text-align: center;
  background-color: #3d0326;

}

h1{
  text-align: right;

}

p{
  text-align: left;

}

footer{
  text-align: right;

}