body {
  
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;


}

nav a {
  text-decoration: none;
  color: #ffffff;

}

nav{
  text-align: center;
  background-color: #3d0326;
}



h1{
  text-align: center;
}


p{
  text-align: left;
 
}

footer{
  text-align: left;

}