@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  
  font-family: 'Poppins', sans-serif;
background-color: #3d0326


}


nav a {
  text-decoration: none;
  color: #3d0326;

}

nav{
  text-align: center;
  background-color: #ffffff;
  font-size: 20px;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


#main-photo {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.center-photo {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 400px;
}


h1{
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  flex: 1;

}

h2{
    color: #ffffff;
    text-align: center;
}

h3{
    color: #ffffff;
    text-decoration: none;
}

h4{
    color: #ffffff;
}



p{
  text-align: left;
  font-size: 18px;
  margin: 30px auto;
  margin-top: 90px;

}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer{
  text-align: left;
}